{{ "<!-- CFK-vs-Stahl -->" | safeHTML }}
{{ with .Site.Params.cfk_vs_stahl }}
<section  class="bg-primary" id="cfk_vs_stahl">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
<br><br><br><br><br><br><br><br><br><br>
                <h2 class="section-heading">{{ .headline }}</h2>
                <hr class="light">
                <p ><i class="fa fa-quote-left fa-2x fa-pull-left" aria-hidden="true"></i>{{ .description | markdownify }}<i class="fa fa-quote-right fa-2x fa-pull-right" aria-hidden="true"></i><br><br></p>
                <a href="#msp_ergebnis" class="btn btn-default btn-xl page-scroll wow tata">{{ .buttonText }}</a>
<br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</section>
{{ end }}
