<footer>
  <div >
    <p class="text-center">
    &copy; 2018 <a href="/"> Carbon-Drive GmbH</a>  |
    <a href="/Impressum/"> Impressum </a> |
    <a href="/disclaimer/"> Haftungsausschluss </a> |
    <a href="/Datenschutz/"> Datenschutzerklärung </a>
    </p>
  </div>
</footer>
<!--- Code von LeadLabs--->
<script type="text/javascript">(function(d,s){var l=d.createElement(s),e=d.getElementsByTagName(s)[0];
  l.async=true;l.type='text/javascript';
  l.src='https://c.leadlab.click/4dc9d022db41b295.js';
  e.parentNode.insertBefore(l,e);})(document,'script');</script>
