{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>{{ with .Site.Params.hero.slogan }}{{ . }}{{ end }}</h1>
            <hr class="light">
            <p>{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</p>
            <div class="col-lg-16 col-lg-offset-2 text-center">
                <div class="row">
                    <div class="responsive-video">
                    <iframe src="https://player.vimeo.com/video/235057116?title=0&amp
                    ;byline=0&amp;portrait=0&amp;autoplay=0"
                    width="800" height="450" frameborder="0" webkitAllowFullScreen
                    mozallowfullscreen allowFullScreen></iframe>

                </div><br>
            <a href="#ziel" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        </div>
    </div>
</header>
