{{ "<!-- Logos -->" | safeHTML }}
<section class="bg-light" id="gefoerdert">
  <div class="logoRow">
          <div class="pics">
              <img alt="Exist" title="Exist" src="img/exist/exist.jpg" class="existImg">
              <img alt="ESF" title="ESF" src="img/exist/esf.jpg" class="existImg">
              <img alt="EU" title="EU" src="img/exist/eu.jpg" class="existImg">
              <img alt="BMWI" title="BMWI" src="img/exist/bmwi.jpg" class="existImg">
          </div>
      </div>
</section>
