{{ "<!-- Team Portfolio Modals -->" | safeHTML }}
{{ range .Site.Data.team }}
<div class="portfolio-modal modal fade" id="team_portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>{{ .category }}</h3>
                        <h2>{{ .title }}</h2>
                        <h3>{{ .position }}</h3>
                        <hr class="star-primary">
                        <img src="img/team_portfolio/{{ .img }}" class="img-responsive img-centered" alt="">
                        <p>{{ .description | markdownify }}</p>
                        <ul class="list-inline item-details">
                            <li>
                                <i class="fa fa-envelope"></i>
                                <strong><a href="mailto:{{ .mail }}">{{ .mail }}</a>
                                    </strong>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i>
                                <strong>{{ .phone }}</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.Site.Params.team_portfolio.modal.buttonText }}{{.}}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
