<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">

        {{ partial "nav.html" . }}
        {{ partial "hero.html" . }}
        {{ partial "ziel.html" . }}
        {{ partial "vorteile.html" . }}
        {{ partial "msp_claim.html" . }}
        {{ partial "msp_data.html" . }}
        {{ partial "cfk_vs_stahl.html" . }}
        {{ partial "msp_ergebnis.html" . }}
        {{ partial "services_claim.html" . }}
        {{ partial "services.html" . }}
        {{ partial "team.html" . }}
        {{ partial "team_portfolio.html" . }}
        {{ partial "contact.html" . }}
        {{ partial "logorow.html" . }}

        {{ partial "modals.html" . }}
        {{ partial "team_modals.html" . }}
        {{ partial "js.html" . }}
        {{ partial "footer.html" .}}
        
        </body>
</html>
